body{
  /* text-align: center; */
  padding: 5px;
}
button{
  padding: 5px;
  background-color: aliceblue;
  border-radius: 20px;
  border: 1px solid black;
}

h1{
  font-size: 50px;
}

input{
  height: 25px;
  border-radius: 15px;
  padding:0 10px;
  border: 1px solid black;
  background-color: aliceblue;
}

#add{
  background-color: azure;
  padding: 5 25px;
  margin-left: 25px;
}

.delete{
  background-color: rgb(235, 62, 62);
  font-weight: 500;
  margin-left: 70px;
}

